<h2>Programming book list</h2>
<button (click)="showBooks()">{{show_books}}</button>

<p [textContent]="text"></p>
<ul *ngIf="isShowing">
  <ng-container *ngFor="let book of books;let i=index">
    <div class="book">

      <li >
      
        <img [src]="book.src" [alt]="book.name" class="book-pic">
        <p>{{book.name | titlecase}} by</p>
        <p>{{book.author | titlecase}}</p>
        
        <div>
          <button>Add to cart</button>
        </div>
        
        
        
      </li>
    </div>



  </ng-container>


  
</ul>
